{#
/**
 * @file tool_entity.html.twig
 * Default theme implementation to present Tool data.
 *
 * This template is used when viewing Tool pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tool_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tool_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
