.event-block {
  &--title {
    background: $allports;
    color: $white;
    display: inline-block;
    font-size: 1em;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: 5px 25px;
  }
}
.event {
  box-shadow: $box-shadow;

  a {
    color: $mine-shaft;
    font-weight: $font-weight-light;
    &:hover {
      text-decoration: none;
    }
  }

  &--wrapper {
    color: $mine-shaft;
    justify-content: space-between;
  }

  &--date {
    color: $light-grey-text;
    font-size: 0.9em;
    font-weight: $font-weight-bold;
  }

  &--title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: $font-weight-normal;
  }
}
