.news-block {
  &--title {
    background: $mulled-wine 0% 0% no-repeat padding-box;
    color: $white;
    display: inline-block;
    font-size: 1em;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: 5px 25px;
  }
}

.news {
  &--date {
    color: $dusty-gray;
    font-size: 0.8em;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;

    a {
      color: $dusty-gray;
    }
  }

  &--title {
    font-size: 1.4em;
    font-weight: $font-weight-normal;

    a {
      color: $dark-grey;
    }
  }

  &--body {
    color: $mine-shaft;
    font-weight: $font-weight-light;
  }

  &--read-more {
    a {
      padding: 25px;
    }
  }
}

.plus-button {
  width: 50px;
  height: 50px;
  background: linear-gradient($white, $white), linear-gradient($white, $white),
    $mulled-wine;
  background-position: center;
  background-size: 50% 1px, 1px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
}
