{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="row row-cols-1">
  <div class="card h-100">
    <div class="row no-gutters">
      <div class="col-md-2 block-stars-listing--picture">
        {{ fields.user_picture.content }}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h2 class="card-title">{{ fields.field_employee.content }}</h2>
          <h5 class="card-text block-stars-listing--type">{{ fields.field_image.content }} {{ fields.field_type.content }} </h5>
          <p class="card-text">{{ fields.field_message.content }} </p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <small class="text-muted">{{ fields.user_id.label }} {{ fields.user_id.content }}</small>
    </div>
  </div>
</div>
