{#
/**
 * @file star_entity.html.twig
 * Default theme implementation to present Star data.
 *
 * This template is used when viewing Star pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_star_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('star_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
