{#
/**
 * @file event_entity.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_entity()
 *
 * @ingroup themeable
 */
#}
<div{{attributes.addClass('event_entity')}}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
