{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% if (logged_in) %}
  {% set classes = [
    'clear-both',
  ] %}

  {% set addStarBlockId = 'add-star-' ~ random() %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ addStarBlockId }}">
    Add a star to someone
  </button>

  <!-- Modal -->
  <div class="modal fade" id="{{ addStarBlockId }}" tabindex="-1" role="dialog" aria-labelledby="{{ addStarBlockId }}-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ addStarBlockId }}-label">Add a star</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ drupal_entity_form('star_entity') }}
        </div>
        {#    <div class="modal-footer">#}
        {#      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
        {#      <button type="button" class="btn btn-primary">Save changes</button>#}
        {#    </div>#}
      </div>
    </div>
  </div>
{% endif %}

